node_modules
.next
out
build
.git
.gitignore
.github
.env*
!.env.local.example
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
.vercel
.vscode
.idea
docs
README.md
Dockerfile
.dockerignore
compose.yaml
docker-compose.yml
